*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
      font-family: 'Segoe UI', sans-serif;
      background: #f4f4f8;
      color: #333;
    }

    header {
      background: #001f3f;
      color: white;
      padding: 30px 20px;
      text-align: center;
    }

    nav {
      background: #0074D9;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
    }

    .four{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        padding: 2rem;
    }

    .tier-section {
      padding: 35px 20px;
      border: 1px solid #ccc;
     box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.507);
      background-image: linear-gradient(to bottom, black,gray);
      transition: .15s linear;
        border-radius: 10px;
    }

    .tier-section:hover{
        transform: scale(1.01);
    }

    .tier-section h2 {
      color: #0074D9;
    }

    .tier-section p{
        color: #8dc6f8;
    }

    .tier-section ul {
      list-style: square;
      padding-left: 20px;
      color: #ccc;
    }

    button{
        padding: 5px 15px;
        font-weight: 900;
        margin-top: 5px;
        background-color: white;
        border: 0;
        border-radius: 5px;
     box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.507);
        transition: .1s ease-in-out;
    }

    button:hover{
        color:#001f3f;
        background-color: #d6e5f3;
        transform: scale(.95);
    }

    footer {
      background: #001f3f;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 30px;
    }

    /* button */
    .modal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 1000;
      left: 0; top: 0;
      width: 100%; height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.5);
    }
    
    .modal-content {
      background-color: #fff;
      margin: 10% auto;
      padding: 20px;
      border-radius: 8px;
      width: 90%;
      max-width: 400px;
      text-align: center;
      position: relative;
    }
    
    .close-button {
      position: absolute;
      top: 10px; right: 15px;
      font-size: 24px;
      cursor: pointer;
    }


    
    form input {
      width: 90%;
      margin: 10px 0;
      padding: 10px;
      font-size: 1em;
      border: black .5px solid;
      border-radius: 8px;
      background-color: whitesmoke;
    }
    
    form button {
      padding: 8px 20px;
      font-size: 1em;
      cursor: pointer;
      margin-top: 10px;
    }
    
    #googleSignInDiv {
      display: inline-block;
      margin: 5px 0;
    }
    
    #appleSignIn {
      margin: 5px;
      padding: 8px 15px;
      cursor: pointer;
    }
    

    @media (max-width: 674px){
        h1{
            font-size: 30px;
        }
        .four{
            grid-template-columns: repeat(1,1fr);
        }
    }